<div class="col=md-10"  >
    <div class="container">
       <!-- most popular movies-->
       <div style="padding-left:150px">            
           <div class="movieTitle">All</div>
           <div ng-controller="MoviesController">
               <ul class="img-thumbnails">
                   <li class="thumbnail" ng-repeat="movie in myMovies" style="display:inline-block; width:200px">
                       <a ng-href="#/movies/{{movie.id}}">
                           <img ng-src="{{movie.Image}}"> {{movie.Title}}
                       </a> 
                   </li>
                </ul>                              
            </div>
        </div>  
    </div>
</div>