<div class="well">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav" id="leftmenuid">
                    <li class="leftmenu" style="border-bottom:1px dotted black; font-weight: bold">Movies</li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.mostpopular">Most Popular</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.all" >All</a></li>  
                    <li class="leftmenu" style="border-bottom:1px dotted black; font-weight: bold">Genres</li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.action" >Action</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.adventure" >Adventure</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.animation" >Animation</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.comedy" >Comedy</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.drama" >Drama</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.family" >Family</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.kids" >Kids</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.fantasy">Sci-Fi &amp; Fantasy</a></li>
                    <li><a class="leftmenu" style="padding:0" ui-sref="movies.suspense" >Suspense</a></li> 
                </ul>      
            </div>
             <div class="container">
					<div ui-view></div>
            </div> 
    </div>
</div>